@charset "UTF-8";
@import url('variaveis.css');
@import url('reset.css');

form fieldset{
    margin-bottom: 50px;
    width: 50%;

}

form fieldset .input-box{
   margin-bottom: 30px;
}

input[type=button], input[type=submit], input[type=reset], label[for],
input[type=radio]{
    cursor: pointer;
}