@charset "UTF-8";
@import url(variables.css);
@import url(reset.css);

boby{
    width: 100%;
    height: 100vh;
    font-family: var(--font-default);
}

main{
    display: flex;
    padding: 30px;
}

#exercicio{
    width: 50%;
    padding: 20px;    
    border-style: double;
    border-radius: 10px;
}

#resolucao{
    width: 50%;
    padding: 20px;    
    border-style: double;
    margin-left: 2px;
    border-radius: 10px;
}

main section p{
    margin: 10px;
}

#botao{    
    border-radius: 10px;
    background-color: darkgray;
    cursor: pointer;
    border-style: none;
    height: 40px;
    width: 30%;
    margin-bottom: 10px;
    font-weight: bold;
 }

.title{
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
    color: var(--title-color);
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 10px;
 }

.input-box input{
    width: 50%;
    padding: 10px;    
    margin-left: 25%;
    text-align: center;
    border-radius: 10px;
}    

#resultado{
    display: flex;
    background-color: white;
    padding: 15px;
    color:white;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
}

#diagnostico{
    display: flex;
    margin-top: 10px;    
    background-color:  white;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
}

.sucesso{
    background-color: green;
    color: white;
}

.erro{
    background-color: red;
}


