@charset "UTF-8";
@import url(variables.css);
@import url(reset.css);

nav {
    display: flex;
    background-color: #6331a4;
    width: 30vh;
    height: 100vh;
    justify-content: flex-start;
}

.sistema {
    color: #fff3ff;
    font-size: 2.5em;
    margin-left: 20px;
    height: max-content;
    margin-left: 5vh;
}

.flex-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: max-content;
    margin-top: 20vh;


}

.pages {
    color: #fff3ff;
    font-size: 1.5em;

}