@charset "UTF-8";

/* Variaveis globais */
:root {
    --font-default: 'Courier New', Courier, monospace; 
}

.light-theme {
    --bg-color: white;
    --font-color: #333;
}

.dark-theme {
    --bg-color: black;
    --font-color: #f5f5f5;
}
