@charset "UTF-8";

/* variaveis globais */
:root{
    --font-default: 'Courier New', Courier, monospace;    
}   

.ligth-theme{    
    --bg-color: white;
    --font-color: #333;
}

.dark-theme{    
    --bg-color: white;
    --font-color: #f5f5f5;
}
