@charset "UTF-8";
@import url(variables.css);
@import url(reset.css);

main{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-default);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main section{
    width: 45%;
    padding: 15px;
}

main section h3{
    text-align: center;
}

main section p{
    margin: 15px 0;
}

main section ol{
    margin: 15px;
}

#frases{
    text-align: center;
    border-radius: 10px;
    background-color: lightgrey;
    margin: 5px;
    padding: 3px;
}

.enunciado{
    height: 50%;
    background-color: antiquewhite;
    border-radius: 10px;
    border-style: solid;
    margin: 1%;
}

.title{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: blue;
    margin-bottom: 20px;

}
.notas{
    width: 90%;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;        
}

label{
    font-weight: bold;
}

#botao{
    align-items: center;
    text-align: center;
    padding: 10px;
}

button{
      height: 45px;
      width: 50%;
      font-size: 1em;
      font-weight: bold;
      background-color: green;
      color: white;
      border-radius: 10px;
}

#retorno{
    display: none; 
    padding: 15px;
    text-align: center;
    width: 100%;
    height: 45px;
    background-color:red;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

#quadro{    
    width: 92%;
    height: 50%;
    background-color: green;
    border-color: brown;
    border-radius: 10px;
    border-style: solid;
    border-width:10px;    
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*

#metade1{
    display: flex;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgba(255,255,255,.4);
    white-space: nowrap;
    max-width: 0vw; 
    overflow: hidden;
}
@keyframes cursorBlink {
    100% {
      border-right-color: transparent;
    }
}
  
@keyframes typing {
    100% {
      max-width: 18em;
    }
}
*/