@charset "UTF-8";
@import url(variables.css);
@import url(reset.css);

button {
    margin: 20px;
    padding: 5px;
}

#box {
    padding: 20px;
    background-color: blue;
}

.show {
    display: block;
}

.hide {
    display: none;
}

