@charset "UTF-8";

:root {
    --font-defeault: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.light-theme {
    --bg-color: #f4f4f4;
}

.dark-theme {
    --bg-color: #333
}